{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Web Consultancy</title>
	<link rel="stylesheet" href="{% static 'appointments/style.css' %}" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div id="logo">
				<a href="{% url 'index' %}"><img src="{% static 'appointments/images/logo.png' %}" alt="LOGO"></a>
			</div>
			<ul id="navigation">
				<li class="selected">
					<a href="{% url 'index' %}">Home</a>
				</li>
				<li>
					<a href="{% url 'about' %}">About Us</a>
				</li>
				<li>
					<a href="{% url 'check' %}">Appointments</a>
				</li>
				<li>
				{% if user.is_authenticated %}
					<a href="{% url 'logout' %}">Log Out</a>
				{% else %}
					<a href="{% url 'login' %}">Log In</a>
				{% endif %}
				</li>
				<li>
					<a href="{% url 'singup' %}">Sing Up</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<div id="about">
			<h1>About</h1>
			<img src="images/smiling.png" alt="Img" class="left">
			<h5>We Have Free Templates for Everyone</h5>
			<p>
				Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/terms/">Terms of Use</a>. You can even remove all our links if you want to.
			</p>
			<h5>We Have More Templates for You</h5>
			<p>
				Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and find what you're looking for. But if you don't find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.
			</p>
			<img src="images/shampoo.png" alt="Img">
			<h5>Be Part of Our Community</h5>
			<p>
				If you're experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forums/">on our forum</a> and meet other people in
				the community who share the same interests with you.
			</p>
			<h5>Template details</h5>
			<p>
				Design version 6<br> Code version 2<br><br> Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/discuss/hairrepairwebsitetemplate/">Hair Repair Website Template</a>.<br><br> Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.<br><br> Please feel free to remove some or all the text and links of this page and replace it with your own About content.
			</p>
		</div>
	</div>
	<!-- FOOTER -->
	<div id="footer">
		<div id="articles">
			<div class="header">
				<div class="body">
					<div>
						<div class="section">
							<h3>About us</h3>
							<p>
								We are a highly proactive group in the constant search of innovativa ideas to help our clients grow.
							</p>
						</div>
						<div class="section">
							<h3>Latest Blog Posts</h3>
							<ul class="blog">
								<li>
									<p>
										<span>Posted Feb. 21, 2020</span> <a href="blog.html">Choosing The Right PV Technology</a> There's constant debate about what you need, cuting-edge tech or the cheapest.
									</p>
								</li>
								<li>
									<p>
										<span>Posted Nov. 13, 2019</span> <a href="blog.html">Upcoming Trends In The Industry</a> Find out what ideas are booming in the international summits.
								</li>
							</ul>
						</div>
						<div class="section">
							<h3>Contact Information</h3>
							<table class="info">
								<tbody>
									<tr>
										<td>Address:</td>
										<td>Montes de Oca, Costa Rica</td>
									</tr> <tr>
										<td>Phone:</td>
										<td>(506) 2222-2222</td>
									</tr> <tr>
										<td>Hours Open:</td>
										<td>Monday - Friday: 10 am- 5pm</td>
									</tr>
								</tbody>
							</table>
							<h3>Follow us</h3>
							<div id="connect">
								<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a> <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a> <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<form action="index.html" method="post">
				<input type="text" value="Enter email for news" class="txtfield" onMouseUp="return false;" onFocus="this.select();">
				<input type="submit" value="SIGNUP" class="btn">
			</form>
			<p>
				© 2023 Hair Repair. All Rights Reserved. <a href="{% url 'index' %}">Privacy Policy</a> <a href="{% url 'index' %}s">Terms and Conditions</a>
			</p>
		</div>
	</div>
</body>
</html>
