{% load widget_tweaks %}
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'appointments/css/styles.css' %}"> 
</head>

<div class="container">
    {% if user.is_authenticated %}
        <h1>Projects</h1>
        {% if object_pk and object_name %}
            <h2>
                This is the page for {{object_name}}
                with pk {{object_pk}},
                place {{object_place}},
                billing {{object_billing}},
                category {{object_category}},
                appt: {{object_appointment}}
            </h2>
            <form action="{% url 'delete' object_pk %}" method="POST">
              {% csrf_token %}
              <input type="submit" name="Delete_button" value="Delete Proyect">
            </form>

            <form action="{% url 'modify' object_pk %}" method="GET">
              {% csrf_token %}
              <input type="submit" name="Mod_button" value="Modify Proyect">
            </form>

        {% elif proj_dict %}
            <h2>List of projects:</h2>
            {% for name, values in proj_dict.items %}
                <a href="{% url 'check_pj' values.uid values.pk %}">
                    <h3>
                        {{name}} with pk {{values.pk}},
                        place: {{values.place}},
                        billing: {{values.billing}},
                        category: {{values.category}},
                        appt : {{values.appt}}
                    </h3>
                </a>
            {% endfor %}
        {% endif %}
        <div class="container">
        {% block content %}
        {{ calendar }}
        {% endblock %}
        </div>
        <footer>
            <a href="{% url 'new'%}">Add a new project.</a>
            <a href="{% url 'logout'%}">Click here to logout.</a>
        </footer>
    {% endif %}
</div>
