{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
	<div id="header">
		<div>
			<div id="logo">
				<a href="{% url 'index' %}"><img src="{% static 'appointments/images/logo.png' %}" alt="LOGO"></a>
			</div>
			<ul id="navigation">
				<li class="selected">
					<a href="{% url 'index' %}">Home</a>
				</li>
				<li>
					<a href="{% url 'check' %}">Projects</a>
				</li>
				{% if user.is_authenticated %}
					<li>
						<a href="{% url 'logout' %}">Log Out</a>
					</li>
					{% if user.is_staff %}
					<li>
						<a href="{% url 'singup' %}">Add user</a>
					</li>
					{% endif %}
					<li>
						<a href="{% url 'new' %}">Add Project</a>
					</li>
				{% else %}
					<li>
						<a href="{% url 'login' %}">Log In</a>
					</li>
					<li>
						<a href="{% url 'singup' %}">Sing Up</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>
	<!-- End header -->
	<div id="contents">
		<div id="services">
		<!-- CONTENT HERE -->
		{% if user.is_authenticated %}
			{% if object_pk and object_name %}
				<h1>{{ object_name }}</h1>
				<p>
					Place: {{object_place}} <br>
					Billing: {{object_billing}} <br>
					Category: {{object_category}} <br>
					Appointment: {{object_appointment}} <br>
					{% if user.is_staff %}
						Client: {{object_client}}<br>
					{% endif %}
				</p>

				<form action="{% url 'delete' object_pk %}" method="POST">
					{% csrf_token %}
					<input type="submit" name="Delete_button" value="Delete Proyect">
				</form>

				<form action="{% url 'modify' object_pk %}" method="GET">
					{% csrf_token %}
					<input type="submit" name="Mod_button" value="Modify Proyect">
				</form>
			{% elif proj_dict %}
				<h1>Projects and Appointments</h1>
				<div id="main">
          {% for name, values in proj_dict.items %}
            <ul>
							<li>
								<img src="{% static 'appointments/images/project_icon.png' %}" alt="Img">
								<a href="{% url 'check_pj' values.uid values.pk %}">
									<h5>{{ name }}</h5>
								</a>
								<p>
									Place: {{values.place}} <br>
									Billing: {{values.billing}} <br>
									Category: {{values.category}} <br>
									Appointment : {{values.appt}} <br>
									{% if user.is_staff %}
										Client: {{values.client}}<br>
									{% endif %}
								</p>
                            </li>
                        </ul>
                        {% endfor %}
                </div>
            {% endif %}
        {% endif %}
		</div>
    </div>
{% endblock content %}
