{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
	<div id="header">
		<div>
			<div id="logo">
				<a href="{% url 'index' %}"><img src="{% static 'appointments/images/logo.png' %}" alt="LOGO"></a>
			</div>
			<ul id="navigation">
				<li class="selected">
					<a href="{% url 'index' %}">Home</a>
				</li>
				<li>
					<a href="{% url 'check' %}">Projects</a>
				</li>
				{% if user.is_authenticated %}
					<li>
						<a href="{% url 'new' %}">Add Project</a>
					</li>
					{% if user.is_staff %}
					<li>
						<a href="{% url 'signup' %}">Add user</a>
					</li>
					{% endif %}
					<li>
						<a href="{% url 'logout' %}">Log Out</a>
					</li>
					
					
				{% else %}
					<li>
						<a href="{% url 'login' %}">Log In</a>
					</li>
					<li>
						<a href="{% url 'signup' %}">Sign Up</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>
	<!-- END HEADER -->
	<div id="contents">
		<div id="adbox">
			<div>
				<img id="img-index" src="{% static 'appointments/images/eng_appointment.png' %}" alt="Img" >
				<div class="details">
					<h3>We Bring your proyects to life...</h3>
					<a href="{% url 'new' %}">Set An Appointment Now</a>
				</div>
			</div>
		</div>
	</div>
	<!-- FOOTER -->
{% endblock content %}

