{% load widget_tweaks %}

<div class="container">
    {% if user.is_authenticated %}
        <h1>Create a new Project</h1>

        <h2>{{ note }}</h2>

        <form action="{% url 'new' %}" method="POST">
            {% csrf_token %}

            {% for field in projectform %}
            <div class="form-group">

                {{ field.label_tag }}
                {% render_field field class="form-control" %}

            </div>
            {% endfor %}

            <input type="submit" vaule="New Project Object">
        </form>
        <footer>
            <a href="{% url 'check' user.id %}">Back to Projects</a>
        </footer>
    {% endif %}
</div>
