{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
	<div id="header">
		<div>
			<div id="logo">
				<a href="{% url 'index' %}"><img src="{% static 'appointments/images/logo.png' %}" alt="LOGO"></a>
			</div>
			<ul id="navigation">
				<li class="selected">
					<a href="{% url 'index' %}">Home</a>
				</li>
				<li>
					<a href="{% url 'check' %}">Projects</a>
				</li>
				{% if user.is_authenticated %}
					<li>
						<a href="{% url 'logout' %}">Log Out</a>
					</li>
					{% if user.is_staff %}
					<li>
						<a href="{% url 'signup' %}">Add user</a>
					</li>
					{% endif %}
					<li>
						<a href="{% url 'new' %}">Add Project</a>
					</li>
				{% else %}
					<li>
						<a href="{% url 'login' %}">Log In</a>
					</li>
					<li>
						<a href="{% url 'signup' %}">Sign Up</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>
	<div id="contents">
		<div id="contact">
			<h1>Log in</h1>
			<h2>{{ note }}</h2>
			<img src="{% static 'appointments/images/customer.png' %}" alt="Img" id="img-login">
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
          {% else %}
        <p>Please login to see this page.</p>
          {% endif %}
      {% endif %}

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </div>
        <div>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </div>

        <div>
          <input type="submit" value="login" />
        </div>
      </form>

      {# Assumes you setup the password_reset view in your URLconf #}
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

		</div>
	</div>
{% endblock content %}